{% extends "base.html" %}
{% load static %}
{% block titulo %}Registrar ventas{% endblock %}
{% block contenido_principal %} 
<main class="py-5">
    <div class="container mt-4">
        <h1 style="color: black;">Registrar una nueva venta</h1>
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Información de la venta</h4>
                    {{ form.errors }}
                    {{ form.tipo_venta.label_tag }} {{ form.tipo_venta }}
                    {{ form.forma_pago.label_tag }} {{ form.forma_pago }}
                    {{ form.tipo_comprobante.label_tag }} {{ form.tipo_comprobante }}
                    {{ form.numero_comprobante.label_tag }} {{ form.numero_comprobante }}
                    {{ form.observaciones.label_tag }} {{ form.observaciones }}
                    {{ form.precio_total.label_tag }} {{ form.precio_total }}
                </div>                
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Información del mayorista</h4>
                    {{ form.mayorista.label_tag }} {{ form.mayorista }}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Información del empleado</h4>
                    {{ form.empleado.label_tag }} {{ form.empleado }}

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Información de los productos</h4>
                    {{ detalleForm.management_form }}
                    <div id="detalle-formset-container">
                        {% for detalle in detalleForm %}
                            <div class="formset-row">
                                {{ detalle.errors }}
                                {{ detalle.producto.label_tag }} {{ detalle.producto }}
                                {{ detalle.cantidad.label_tag }} {{ detalle.cantidad }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-dark mx-5" id="agregar_producto">Agregar producto</button>
                    </div>
                </div>
                <div class="card-body">
                    <h4>Listado de ventas</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nº producto</th>
                                <th>Id producto</th>
                                <th>Descripcion</th>
                                <th>Categoria</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <!-- Ahora muestra la lista de productos agregados a la venta. Pero aun no pone los datos de los productos -->
                        <tbody class="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pb-4">
                <button class="btn btn-dark" type="submit">Registrar</button>
                <button class="btn btn-dark" type="reset">Cancelar</button>
            </div>
        </form>
        <div class="card mb-4">
            <div class="card-body">
                <h4>Listado de ventas</h4>                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id venta</th>
                            <th>fecha</th>
                            <th>tipo venta</th>
                            <th>forma pago</th>
                            <th>tipo comprobante</th>
                            <th>Nº comprobante</th>
                            <th>observaciones</th>
                            <th>Precio total</th>
                            <th>Id empleado</th>
                            <th>Id mayorista</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        {% for venta in ventas %}
                        <tr class="total-row" id="foot-tr">
                            <td>{{ venta.id_venta }}</td>
                            <td>{{ venta.fecha_venta }}</td>
                            <td>{{ venta.tipo_venta }}</td>
                            <td>{{ venta.forma_pago }}</td> 
                            <td>{{ venta.tipo_comprobante }}</td>
                            <td>{{ venta.numero_comprobante }}</td>
                            <td>{{ venta.observaciones }}</td>
                            <td>{{ venta.precio_total }}</td>
                            <td>{{ venta.empleado }}</td>
                            <td>{{ venta.mayorista }}</td>
                            <td>
                                <a href="{% url 'ventas:detalle' venta.id_venta %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                    </svg>
                                </a><br>
                                <a href="{% url 'ventas:modificar' venta.id_venta %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                </a><br>
                                <!-- <a href="{% url 'ventas:anular' venta.id_venta %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                </a> -->
                                <form class="needs-validation formulario" method="post" action="" id="formulario_anular">
                                    {% csrf_token %}
                                    <button type="button" onclick="confirmCancel(`{% url 'ventas:anular' venta.id_venta %}`)" id="btn_anular_venta">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </td>
                        </tr>    
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
    <script>
        const datosProductos = "{{ productos|safe }}";
        console.log(datosProductos)
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/gestionar_ventas.js' %}"></script>
{% endblock %}